<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Journal Site</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <nav>
        <a href="{{url_for('index')}}">Home</a>
        <a href="{{url_for('journal')}}">My Journal</a>
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </nav>
    <h1>My Journal Site</h1>
    <div class="text-center">
        <p>Welcome, {{username}}!</p>
        <p>You have written {{count}} journal entr{% if count != 1 %}ies{% else %}y{% endif %}</p>
        <a href="{{url_for('journal')}}">Open your journal</a>
    </div>
</body>
</html>